<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="icon" type="image/png" href="./assets/images/mona.png" />
        <title>Template</title>
    </head>
</head>

<body>
    <header class="header trans ourstories">
        <div class="header-wrap">
            <div class="burger">
                <div class="hamburger" id="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
            <div class="header-nav left">
                <ul class="header-nav-list">
                    <li class="header-nav-item">
                        <a href="" class="header-nav-link ">About us</a>
                        <div class="smenu">
                            <ul class="smenu-list">
                                <li class="smenu-item"><a href="" class="smenu-link">Menu fisrt</a>
                                    <div class="smenu">
                                        <ul class="smenu-list">
                                            <li class="smenu-item"><a href="" class="smenu-link">Menu fisrt</a></li>
                                            <li class="smenu-item"><a href="" class="smenu-link">Menu second</a>
                                            </li>
                                            <li class="smenu-item"><a href="" class="smenu-link">Menu third</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="smenu-item"><a href="" class="smenu-link">Menu second</a>
                                    <div class="smenu">
                                        <ul class="smenu-list">
                                            <li class="smenu-item"><a href="" class="smenu-link">Menu fisrt</a></li>
                                            <li class="smenu-item"><a href="" class="smenu-link">Menu second</a>
                                            </li>
                                            <li class="smenu-item"><a href="" class="smenu-link">Menu third</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="smenu-item"><a href="" class="smenu-link">Menu third</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-nav-item active">
                        <a href="" class="header-nav-link">Our stories </a>
                        <div class="smenu">
                            <ul class="smenu-list">
                                <li class="smenu-item"><a href="" class="smenu-link">Menu fisrt</a></li>
                                <li class="smenu-item"><a href="" class="smenu-link">Menu second</a></li>
                                <li class="smenu-item"><a href="" class="smenu-link">Menu third</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-nav-item">
                        <a href="" class="header-nav-link">Products</a>
                        <div class="smenu">
                            <ul class="smenu-list">
                                <li class="smenu-item"><a href="" class="smenu-link">Menu fisrt</a></li>
                                <li class="smenu-item"><a href="" class="smenu-link">Menu second</a></li>
                                <li class="smenu-item"><a href="" class="smenu-link">Menu third</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <a href="" class="header-logo">
                <img src="./assets/images/KOA-logo-ft.png" alt="">
            </a>
            <div class="header-nav right">
                <ul class="header-nav-list">
                    <li class="header-nav-item right">
                        <a href="" class="header-nav-link">Careers</a>
                        <div class="smenu right">
                            <ul class="smenu-list">
                                <li class="smenu-item"><a href="" class="smenu-link">Menu fisrt</a></li>
                                <li class="smenu-item"><a href="" class="smenu-link">Menu second</a></li>
                                <li class="smenu-item"><a href="" class="smenu-link">Menu third</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-nav-item right">
                        <a href="" class="header-nav-link">Contact</a>
                        <div class="smenu right">
                            <ul class="smenu-list">
                                <li class="smenu-item"><a href="" class="smenu-link">Menu fisrt</a></li>
                                <li class="smenu-item"><a href="" class="smenu-link">Menu second</a></li>
                                <li class="smenu-item"><a href="" class="smenu-link">Menu third</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-nav-item right">
                        <a href="" class="lang">
                            <img src="./assets/images/lang-VN.svg" alt="">
                            <span>VN</span>
                        </a>
                    </li>
                    <li class="header-nav-item right">
                        <a href="" class="lang active">
                            <img src="./assets/images/lang-US.svg" alt="">
                            <span>EN</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Menu Mobile -->
        <div class="mobile-overlay"></div>
        <div class="mobile">
            <div class="mobile-mxh">
                <a href="" class="mobile-mxh-link face">
                    <i class="fab fa-facebook-f icon"></i>
                </a>
                <a href="" class="mobile-mxh-link tele">
                    <i class="fab fa-telegram icon"></i>
                </a>
                <a href="" class="mobile-mxh-link you">
                    <i class="fab fa-youtube icon"></i>
                </a>
                <a href="" class="mobile-mxh-link ins">
                    <i class="fab fa-instagram icon"></i>
                </a>
            </div>
            <div class="mobile-con">
                <div class="mobile-wr">
                    <ul class="mobile-list">
                        <li class="mobile-item">
                            <a href="" class="mobile-link">
                                About us
                            </a>
                        </li>
                        <li class="mobile-item">
                            <a href="" class="mobile-link">
                                Our stories
                            </a>
                        </li>
                        <li class="mobile-item">
                            <a href="" class="mobile-link">
                                Products
                            </a>
                        </li>
                        <li class="mobile-item">
                            <a href="" class="mobile-link">
                                Careers
                            </a>
                        </li>
                        <li class="mobile-item">
                            <a href="" class="mobile-link">Contact
                                <i class="fas fa-angle-right mobile-arrow"></i>
                            </a>
                            <ul class="mobile-sub">
                                <li class="mobile-sub-item">
                                    <a href="" class="mobile-sub-link">Sub menu 1</a>
                                </li>
                                <li class="mobile-sub-item">
                                    <a href="" class="mobile-sub-link">Sub menu 2</a>
                                </li>
                                <li class="mobile-sub-item">
                                    <a href="" class="mobile-sub-link">Sub menu 3</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <h2 class="mobile-heading">
                        Address:
                    </h2>
                    <div class="mobile-content">
                        <div class="mb-16s">
                            <p class="mobile-text fw-7">
                                Address:
                            </p>
                            <p class="mobile-text c-second">
                                D2 Road, Lot B7, Phu My 3 Specialized Industrial Park, Phuoc Hoa Ward, Phu My Town, Ba Ria-Vung Tau Province, Vietnam
                            </p>
                        </div>
                        <div class="mb-16s">
                            <p class="mobile-text fw-7">
                                Hotline:
                            </p>
                            <a href="" class="mobile-text mobile-action">
                                +84 254 389 1901
                            </a>
                        </div>
                        <div class="mb-16s">
                            <p class="mobile-text fw-7">
                                Email:
                            </p>
                            <a href="" class="mobile-text mobile-action">
                                contact@kraftofasia.com
                            </a>
                        </div>
                        <div class="mb-16s">
                            <p class="mobile-text fw-7">
                                Fanpage:
                            </p>
                            <a href="" class="mobile-text mobile-action">
                                https://www.facebook.com/kraftofasia/
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main">
        <section class="ourstories-ban">
            <div class="ourstories-ban-img">
                <div class="ourstories-ban-inner">
                    <img src="./assets/images/intro-bg.png" alt="">
                </div>
                <div class="ourstories-ban-wrap">
                    <div class="ourstories-ban-flex">
                        <div class="ourstories-ban-col">
                            <a href="" class="button-show button-back">
                                <i class="ti-angle-left arrow"></i>
                                <div class="text-control">
                                    <span>Back to home</span>
                                    <span>Our
                                        Stories</span>
                                </div>
                            </a>
                        </div>
                        <div class="ourstories-ban-col">
                            <div class="ourstories-ban-content">
                                <h2 class="title-h2">
                                    Contributing for <br> industries
                                </h2>
                                <p class="title-author">
                                    By Admin
                                </p>
                                <div class="title-heading">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor amet habitant aliquam purus. Velit ac euismod venenatis, purus mattis volutpat faucibus odio. Duis et tempor amet aliquam suspendisse risus risus vestibulum.</p>
                                    <br>
                                    <p>Adipiscing dapibus dolor nam odio aliquet ornare. Posuere aenean ultrices ut tempor eu. Nisi, pellentesque purus viverra nulla mauris. Vestibulum, lorem vulputate auctor enim arcu diam scelerisque. Est proin est nascetur
                                        feugiat accumsan diam mauris. Vel interdum neque aliquam amet lectus magna. Faucibus at elit dui, at est aliquet tellus. Aliquam id sit sed massa accumsan. Dictumst donec vitae tincidunt vel tortor, venenatis donec.</p><br>
                                    <p>Eros tincidunt arcu faucibus feugiat ultrices. Et ut quis ante parturient proin faucibus volutpat. Pulvinar volutpat sollicitudin lorem proin dui gravida sollicitudin.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <section class="sec-story pd-sec">
            <div class="container">
                <div class="story">
                    <div class="story-flex">
                        <div class="story-col story-col-50">
                            <div class="story-col-item">
                                <div class="story-img">
                                    <img src="./assets/images/story-img.png" alt="">
                                </div>
                                <div class="story-text">
                                    <p>Contributing for industries</p>
                                </div>
                            </div>
                            <div class="title-content">
                                <div class="title-author">
                                    <p>By Admin</p>
                                </div>
                                <div class="title-heading">
                                    <p>Supporting logistics and industries throughout society and delivering happiness
                                    </p>
                                </div>
                                <a href="" class="title-more">Read more</a>
                            </div>
                        </div>
                        <div class="story-col story-col-50">
                            <div class="story-col-item">
                                <div class="story-img">
                                    <img src="./assets/images/story-img2.png" alt="">
                                </div>
                                <div class="story-text">
                                    <p>Existing with community</p>
                                </div>
                            </div>
                            <div class="title-content">
                                <div class="title-author">
                                    <p>By Admin</p>
                                </div>
                                <div class="title-heading">
                                    <p>We will contribute to social development by providing the materials that are essential to the logistics business that supports the development of the Asian economy.
                                    </p>
                                </div>
                                <a href="" class="title-more">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div>
        <footer class="footer">
            <div class="footer-wrap">
                <div class="container">
                    <div class="footer-flex">
                        <div class="footer-col-left">
                            <div class="footer-item">
                                <div class="footer-logo">
                                    <img src="./assets/images/KOA-logo-ft.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="footer-col-center">
                            <div class="footer-address">
                                <p> <span>Office:</span> <br> D2 Road, Lot B7, Phu My 3 Specialized Industrial Park, Phuoc Hoa Ward, Phu My Town, Ba Ria-Vung Tau Province, Vietnam</p>
                                <p><span>Email:</span>contact@kraftofasia.com</p>
                                <p><span>Tel:</span>+84 254 389 1901</p>
                            </div>
                        </div>
                        <div class="footer-col-right">
                            <div class="footer-link">
                                <div class="link-item">
                                    <a href="" class="button-show hb-button link">
                                        <i class="ti-angle-right arrow"></i><span class="link-text">About us</span>
                                    </a>
                                </div>
                                <div class="link-item">
                                    <a href="" class="button-show hb-button link">
                                        <i class="ti-angle-right arrow"></i><span class="link-text">Careers</span>
                                    </a>
                                </div>
                                <div class="link-item">
                                    <a href="" class="button-show hb-button link">
                                        <i class="ti-angle-right arrow"></i><span class="link-text">Our stories</span>
                                    </a>
                                </div>
                                <div class="link-item">
                                    <a href="" class="button-show hb-button link">
                                        <i class="ti-angle-right arrow"></i><span class="link-text">Contact</span>
                                    </a>
                                </div>
                                <div class="link-item">
                                    <a href="" class="button-show hb-button link">
                                        <i class="ti-angle-right arrow"></i><span class="link-text">Products</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-col"></div>
                </div>
            </div>
            <div class="footer-end">
                <div class="container">
                    <div class="footer-end-wrap">
                        <p>Designed and developed by Mona Media</p>
                        <div class="footer-mxh">
                            <a href="" class="mxh-link face">
                                <img src="./assets/images/fb.svg" alt="">
                            </a>
                            <a href="" class="mxh-link tele">
                                <img src="./assets/images/mess.svg" alt="">
                            </a>
                            <a href="" class="mxh-link you">
                                <img src="./assets/images/viber.svg" alt="">
                            </a>
                            <a href="" class="mxh-link ins">
                                <img src="./assets/images/youtube.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="back-to-top backToTop active">
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
        </div>
        <script src="./js/library/jquery/jquery.js"></script>
        <script src="./js/library/swiper/swiper-bundle.min.js"></script>
        <script src="./js/library/slick/slick.min.js"></script>
        <script src="./js/library/wow/wow.min.js"></script>
        <script src="./js/library/aos/aos.js"></script>
        <script src="./js/library/select2/select2.min.js"></script>
        <script src="./js/library/vanilla/vanilla.js"></script>
        <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
        <script src="./js/library/gallery/lightgallery-all.min.js"></script>
        <script src="./js/library/countup/jquery.counterup.min.js"></script>
        <script src="./js/library/countup/jquery.waypoints.min.js"></script>
        <script src="./js/library/jquery/jquery-migrate.js"></script>
        <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
        <script src="./js/library/popper/popper.min.js"></script>
        <script src="./js/library/anime/anime.min.js"></script>
        <script src="./js/main.js" type="module"></script>
</body>

</html>