<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Our Product Detail</title>
</head>

<body>
    <section class="sec-prodt pd-sec">
        <div class="container-two">
            <div class="prodt">
                <div class="prodt-wrap">
                    <div class="prodt-col">
                        <div class="prodt-flex">
                            <div class="ourstories-ban-col">
                                <a href="" class="button-show button-back">
                                    <i class="ti-angle-left arrow"></i>
                                    <div class="text-control">
                                        <span>Back to list products</span>
                                        <span>Our product</span>
                                    </div>
                                </a>
                            </div>
                            <div class="prodt-content">
                                <div class="prodt-content-inner">
                                    <h2 class="title-h2">Name product <br> demo
                                    </h2>
                                    <p class="title-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque cursus vulputate pellentesque sit malesuada. Vulputate egestas metus, pharetra, tortor adipiscing at. Nullam faucibus feugiat a</p>
                                    <h5 class="title-h5">Features</h5>
                                    <p class="title-heading">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque cursus vulputate pellentesque sit malesuada. Vulputate egestas metus, pharetra, tortor adipiscing at. Nullam faucibus feugiat a
                                    </p>
                                    <h5 class="title-h5">
                                        Description
                                    </h5>
                                    <p class="title-heading">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque cursus vulputate pellentesque sit malesuada. Vulputate egestas metus, pharetra, tortor adipiscing at. Nullam faucibus feugiat a
                                    </p>
                                </div>
                                <div class="prodt-control">
                                    <a href="" class="button-show hb-button story-all prev">
                                        <i class="ti-angle-left arrow"></i> <span>Prev products</span>
                                    </a>
                                    <a href="" class="button-show hb-button story-all next">
                                        <span>Next product</span> <i class="ti-angle-right arrow"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prodt-col">
                        <div class="prodt-img">
                            <img src="./assets/images/prodt-bg.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/slick/slick.min.js"></script>
    <script src="./js/library/wow/wow.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/vanilla/vanilla.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/countup/jquery.counterup.min.js"></script>
    <script src="./js/library/countup/jquery.waypoints.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/popper/popper.min.js"></script>
    <script src="./js/library/anime/anime.min.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>