<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>
</head>

<body>
    <header class="header trans">
        <div class="header-wrap">
            <div class="burger">
                <div class="hamburger" id="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
            <div class="header-nav left">
                <ul class="header-nav-list">
                    <li class="header-nav-item" data-aos="fade-top" data-aos-duration="2000" data-aos-delay="300">
                        <a href="" class="header-nav-link active">About us</a>
                        <div class="smenu">
                            <ul class="smenu-list">
                                <li class="smenu-item"><a href="" class="smenu-link">Menu fisrt</a>
                                    <div class="smenu">
                                        <ul class="smenu-list">
                                            <li class="smenu-item"><a href="" class="smenu-link">Menu fisrt</a></li>
                                            <li class="smenu-item"><a href="" class="smenu-link">Menu second</a>
                                            </li>
                                            <li class="smenu-item"><a href="" class="smenu-link">Menu third</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="smenu-item"><a href="" class="smenu-link">Menu second</a>
                                    <div class="smenu">
                                        <ul class="smenu-list">
                                            <li class="smenu-item"><a href="" class="smenu-link">Menu fisrt</a></li>
                                            <li class="smenu-item"><a href="" class="smenu-link">Menu second</a>
                                            </li>
                                            <li class="smenu-item"><a href="" class="smenu-link">Menu third</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="smenu-item"><a href="" class="smenu-link">Menu third</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-nav-item" data-aos="fade-top" data-aos-duration="2000" data-aos-delay="300">
                        <a href="" class="header-nav-link">Our stories </a>
                        <div class="smenu">
                            <ul class="smenu-list">
                                <li class="smenu-item"><a href="" class="smenu-link">Menu fisrt</a></li>
                                <li class="smenu-item"><a href="" class="smenu-link">Menu second</a></li>
                                <li class="smenu-item"><a href="" class="smenu-link">Menu third</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-nav-item" data-aos="fade-top" data-aos-duration="2000" data-aos-delay="300">
                        <a href="" class="header-nav-link">Products</a>
                        <div class="smenu">
                            <ul class="smenu-list">
                                <li class="smenu-item"><a href="" class="smenu-link">Menu fisrt</a></li>
                                <li class="smenu-item"><a href="" class="smenu-link">Menu second</a></li>
                                <li class="smenu-item"><a href="" class="smenu-link">Menu third</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <a href="" class="header-logo" data-aos="fade-top" data-aos-duration="2600" data-aos-delay="200">
                <img src="./assets/images/KOA-logo.png" alt="">
            </a>
            <div class="header-nav right">
                <ul class="header-nav-list">
                    <li class="header-nav-item right" data-aos="fade-top" data-aos-duration="2000" data-aos-delay="300">
                        <a href="" class="header-nav-link">Careers</a>
                        <div class="smenu right">
                            <ul class="smenu-list">
                                <li class="smenu-item"><a href="" class="smenu-link">Menu fisrt</a></li>
                                <li class="smenu-item"><a href="" class="smenu-link">Menu second</a></li>
                                <li class="smenu-item"><a href="" class="smenu-link">Menu third</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-nav-item right" data-aos="fade-top" data-aos-duration="2000" data-aos-delay="300">
                        <a href="" class="header-nav-link">Contact</a>
                        <div class="smenu right">
                            <ul class="smenu-list">
                                <li class="smenu-item"><a href="" class="smenu-link">Menu fisrt</a></li>
                                <li class="smenu-item"><a href="" class="smenu-link">Menu second</a></li>
                                <li class="smenu-item"><a href="" class="smenu-link">Menu third</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-nav-item right" data-aos="fade-top" data-aos-duration="2000" data-aos-delay="300">
                        <a href="" class="lang">
                            <img src="./assets/images/lang-VN.svg" alt="">
                            <span>VN</span>
                        </a>
                    </li>
                    <li class="header-nav-item right" data-aos="fade-top" data-aos-duration="2000" data-aos-delay="300">
                        <a href="" class="lang active">
                            <img src="./assets/images/lang-US.svg" alt="">
                            <span>EN</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Menu Mobile -->
        <div class="mobile-overlay"></div>
        <div class="mobile">
            <div class="mobile-mxh">
                <a href="" class="mobile-mxh-link face">
                    <i class="fab fa-facebook-f icon"></i>
                </a>
                <a href="" class="mobile-mxh-link tele">
                    <i class="fab fa-telegram icon"></i>
                </a>
                <a href="" class="mobile-mxh-link you">
                    <i class="fab fa-youtube icon"></i>
                </a>
                <a href="" class="mobile-mxh-link ins">
                    <i class="fab fa-instagram icon"></i>
                </a>
            </div>
            <div class="mobile-con">
                <div class="mobile-wr">
                    <ul class="mobile-list">
                        <li class="mobile-item">
                            <a href="" class="mobile-link">
                                About us
                            </a>
                        </li>
                        <li class="mobile-item">
                            <a href="" class="mobile-link">
                                Our stories
                            </a>
                        </li>
                        <li class="mobile-item">
                            <a href="" class="mobile-link">
                                Products
                            </a>
                        </li>
                        <li class="mobile-item">
                            <a href="" class="mobile-link">
                                Careers
                            </a>
                        </li>
                        <li class="mobile-item">
                            <a href="" class="mobile-link">Contact
                                <i class="fas fa-angle-right mobile-arrow"></i>
                            </a>
                            <ul class="mobile-sub">
                                <li class="mobile-sub-item">
                                    <a href="" class="mobile-sub-link">Sub menu 1</a>
                                </li>
                                <li class="mobile-sub-item">
                                    <a href="" class="mobile-sub-link">Sub menu 2</a>
                                </li>
                                <li class="mobile-sub-item">
                                    <a href="" class="mobile-sub-link">Sub menu 3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="mobile-item">
                            <div class="mobile-link">Language
                                <div class="">
                                    <a href="" class="lang active">
                                        <img src="./assets/images/lang-US.svg" alt="">
                                    </a>
                                    <a href="" class="lang">
                                        <img src="./assets/images/lang-VN.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <h2 class="mobile-heading">
                        Address:
                    </h2>
                    <div class="mobile-content">
                        <div class="mb-16s">
                            <p class="mobile-text fw-7">
                                Address:
                            </p>
                            <p class="mobile-text c-second">
                                D2 Road, Lot B7, Phu My 3 Specialized Industrial Park, Phuoc Hoa Ward, Phu My Town, Ba Ria-Vung Tau Province, Vietnam
                            </p>
                        </div>
                        <div class="mb-16s">
                            <p class="mobile-text fw-7">
                                Hotline:
                            </p>
                            <a href="" class="mobile-text mobile-action">
                                +84 254 389 1901
                            </a>
                        </div>
                        <div class="mb-16s">
                            <p class="mobile-text fw-7">
                                Email:
                            </p>
                            <a href="" class="mobile-text mobile-action">
                                contact@kraftofasia.com
                            </a>
                        </div>
                        <div class="mb-16s">
                            <p class="mobile-text fw-7">
                                Fanpage:
                            </p>
                            <a href="" class="mobile-text mobile-action">
                                https://www.facebook.com/kraftofasia/
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="home">
            <section class="home-banner">
                <div class="hb">
                    <div class="hb-slider">
                        <div class="hb-item">
                            <div class="swiper swiper-ban">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="hb-img">
                                            <div class="hb-img-item">
                                                <img src="./assets/images/home-ban.png" alt="">
                                            </div>
                                        </div>
                                        <div class="hb-posi">
                                            <div class="hb-line" data-aos="fade-top" data-aos-duration="2000" data-aos-delay="200"></div>
                                            <div class="hb-content">
                                                <h2 class="hb-heading" data-aos="fade-left" data-aos-duration="1600" data-aos-delay="300">
                                                    Recycling <br> for the better</h2>
                                                <p class="hb-des" data-aos="fade-left" data-aos-duration="2000" data-aos-delay="400">With low energy consumption, we recycle to reduce the use of forest resources and protect nature</p>
                                                <a href="" class="button-show hb-button" data-aos="fade-left" data-aos-duration="1600" data-aos-delay="300">
                                                    <i class="ti-angle-right arrow"></i> <span>See more</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Slide two -->
                                    <div class="swiper-slide">
                                        <div class="hb-img">
                                            <div class="hb-img-item">
                                                <img src="./assets/images/home-ban2.png" alt="">
                                            </div>
                                        </div>
                                        <div class="hb-posi">
                                            <div class="hb-line" data-aos="fade-top" data-aos-duration="2000" data-aos-delay="200"></div>
                                            <div class="hb-content">
                                                <h2 class="hb-heading" data-aos="fade-left" data-aos-duration="1600" data-aos-delay="300">
                                                    Recycling <br> for the better</h2>
                                                <p class="hb-des" data-aos="fade-left" data-aos-duration="2000" data-aos-delay="400">With low energy consumption, we recycle to reduce the use of forest resources and protect nature</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination" data-aos="fade-top" data-aos-duration="2000" data-aos-delay="200"></div>
                                </div>
                            </div>
                            <div class="hb-line-two"></div>
                            <div class="hb-line-three" data-aos="fade-right" data-aos-duration="1600"></div>
                        </div>
                        <div class="button-control">
                            <i class="ti-angle-left arrow button swiper-button-prev"></i>
                            <i class="ti-angle-right arrow button active swiper-button-next"></i>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sec-story pd-sec">
                <div class="container">
                    <div class="story">
                        <div class="story-title">
                            <h2 class="title-h2" data-aos="fade-left" data-aos-duration="1600">
                                Our story
                            </h2>
                            <a href="" class="button-show hb-button story-all" data-aos="fade-right" data-aos-duration="1600">
                                <span>See more</span> <i class="ti-angle-right arrow"></i>
                            </a>
                        </div>
                        <div class="story-flex">
                            <div class="swiper swiper-story">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="" class="story-col">
                                            <div class="story-col-item">
                                                <div class="story-img" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="200">
                                                    <img src="./assets/images/story-img.png" alt="">
                                                </div>
                                                <div class="story-text" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="300">
                                                    <p>Contributing for industries</p>
                                                </div>
                                            </div>
                                            <div class="title-content">
                                                <div class="title-author" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="400">
                                                    <p>By Admin</p>
                                                </div>
                                                <div class="title-heading" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="500">
                                                    <p>Supporting logistics and industries throughout society and delivering happiness
                                                    </p>
                                                </div>
                                                <a href="" class="title-more">Read more</a>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="" class="story-col">
                                            <div class="story-col-item">
                                                <div class="story-img" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="200">
                                                    <img src="./assets/images/story-img2.png" alt="">
                                                </div>
                                                <div class="story-text" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="300">
                                                    <p>Existing with community</p>
                                                </div>
                                            </div>
                                            <div class="title-content">
                                                <div class="title-author" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="400">
                                                    <p>By Admin</p>
                                                </div>
                                                <div class="title-heading" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="500">
                                                    <p>We will contribute to social development by providing the materials that are essential to the logistics business that supports the development of the Asian economy.
                                                    </p>
                                                </div>
                                                <a href="" class="title-more">Read more</a>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="" class="story-col">
                                            <div class="story-col-item">
                                                <div class="story-img" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="200">
                                                    <img src="./assets/images/story-img3.jpg" alt="">
                                                </div>
                                                <div class="story-text" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="300">
                                                    <p>Existing with community</p>
                                                </div>
                                            </div>
                                            <div class="title-content">
                                                <div class="title-author" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="400">
                                                    <p>By Admin</p>
                                                </div>
                                                <div class="title-heading" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="500">
                                                    <p>We will contribute to social development by providing the materials that are essential to the logistics business that supports the development of the Asian economy.
                                                    </p>
                                                </div>
                                                <a href="" class="title-more">Read more</a>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="" class="story-col">
                                            <div class="story-col-item">
                                                <div class="story-img" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="200">
                                                    <img src="./assets/images/story-img4.jpg" alt="">
                                                </div>
                                                <div class="story-text" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="300">
                                                    <p>Existing with community</p>
                                                </div>
                                            </div>
                                            <div class="title-content">
                                                <div class="title-author" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="400">
                                                    <p>By Admin</p>
                                                </div>
                                                <div class="title-heading" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="500">
                                                    <p>We will contribute to social development by providing the materials that are essential to the logistics business that supports the development of the Asian economy.
                                                    </p>
                                                </div>
                                                <a href="" class="title-more">Read more</a>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-pagination" data-aos="fade-up" data-aos-duration="1800"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sec-introl pd-sec" data-aos="fade-up">
                <div class="introl">
                    <div class="introl-bg">
                        <img src="./assets/images/intro-bg.png" alt="">
                    </div>
                    <div class="introl-text">
                        <h1 data-aos="fade-left" data-aos-duration="1600" data-aos-delay="400">We are <br> KRAF OF ASIA
                        </h1>
                        <a href="https://www.youtube.com/watch?v=j-YuBbEj_qI" class="introl-play">
                            <i class="ti-control-play icon-play" data-aos="fade-up"></i> <span data-aos="fade-up">Play
                                video</span>
                        </a>
                    </div>
                    <div class="introl-line"></div>
                </div>
            </section>
            <section class="sec-ourproduct pd-sec">
                <div class="container">
                    <div class="ourproduct">
                        <div class="ourproduct-content pd-bt-100">
                            <h2 class="title-h2" data-aos="fade-left" data-aos-duration="1600">Our products</h2>
                            <p class="title-heading pd-30" data-aos="fade-up" data-aos-duration="2000">
                                Currently, KOA is manufacturing with typical products for Sliner including eL, eS, eP from standard to high-end, meeting the needs of all customers. Not only that, we have also launched the medium eM line that serves at the same time. No need to spend
                                a lot of time searching, we always have what you need. Especially for customers who have different requirements from KOA's standard products, we are always ready to produce according to your requirements.
                            </p>
                            <a href="" class="title-more block">Feel free to
                                contact us for more
                                information</a>
                        </div>
                        <div class="ourproduct-img" data-aos="fade-up" data-aos-duration="2000">
                            <div class="swiper swiper-ourproduct">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="ourproduct-img-inner"><img src="./assets/images/product-img.jpg" alt=""></div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="ourproduct-img-inner"><img src="./assets/images/product-img2.jpg" alt=""></div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                            <div class="button-control ourproduct-button">
                                <i class="ti-angle-left arrow button swiper-button-prev"></i>
                                <i class="ti-angle-right arrow button swiper-button-next"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sec-careers">
                <div class="container-careers">
                    <div class="careers">
                        <div class="careers-flex">
                            <div class="careers-col-left">
                                <div class="careers-content">
                                    <h2 class="title-h2" data-aos="fade-left" data-aos-duration="1600">
                                        Careers
                                    </h2>
                                    <p class="title-heading pd-30" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="200">
                                        We have 2 things to be proud of: a dynamic and creative team of employees and great products. Join a group of enthusiastic young people, you will be surprised at the working environment here. KOA shares the opportunity - you take it.
                                    </p>
                                    <a href="" class="button-show hb-button careers-all" data-aos="fade-up" data-aos-duration="1600">
                                        <span>All Careers</span> <i class="ti-angle-right arrow"></i>
                                    </a>
                                    <p class="title-text pd-t-70" data-aos="fade-up" data-aos-duration="1600">Please contact our HR team to get to know each other
                                    </p>
                                    <a href="tel:+842543891901" class="hot-line">(+84) 254 389 1901</a>
                                </div>
                            </div>
                            <div class="careers-col-right">
                                <div class="careers-col-right-flex">
                                    <h4 class="title-h4" data-aos="fade-left" data-aos-duration="1600">
                                        We are recruiting for the <br> following positions:...
                                    </h4>
                                    <div class="button-control careers-button">
                                        <i class="ti-angle-left arrow button swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-52b191a0c86bbb65"></i>
                                        <i class="ti-angle-right arrow button swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-52b191a0c86bbb65"></i>
                                    </div>
                                </div>
                                <div class="swiper swiper-careers">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a href="" class="story-col">
                                                <div class="story-col-item">
                                                    <div class="story-img" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="200">
                                                        <img src="./assets/images/story-img.png" alt="">
                                                    </div>
                                                    <div class="story-text" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="300">
                                                        <p>Title demo 01</p>
                                                    </div>
                                                </div>
                                                <div class="title-content">
                                                    <div class="title-author" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="400">
                                                        <p>By Admin</p>
                                                    </div>
                                                    <div class="title-heading" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="500">
                                                        <p>Supporting logistics and industries throughout society and delivering happiness
                                                        </p>
                                                    </div>
                                                    <a href="" class="title-more">Read more</a>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="" class="story-col">
                                                <div class="story-col-item">
                                                    <div class="story-img" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="200">
                                                        <img src="./assets/images/story-img4.jpg" alt="">
                                                    </div>
                                                    <div class="story-text" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="300">
                                                        <p>Title demo 02</p>
                                                    </div>
                                                </div>
                                                <div class="title-content">
                                                    <div class="title-author" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="400">
                                                        <p>By Admin</p>
                                                    </div>
                                                    <div class="title-heading" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="500">
                                                        <p>We will contribute to social development by providing the materials that are essential to the logistics business that supports the development of the Asian economy.
                                                        </p>
                                                    </div>
                                                    <a href="" class="title-more">Read more</a>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="" class="story-col">
                                                <div class="story-col-item">
                                                    <div class="story-img" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="200">
                                                        <img src="./assets/images/story-img3.jpg" alt="">
                                                    </div>
                                                    <div class="story-text" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="300">
                                                        <p>Title demo 03</p>
                                                    </div>
                                                </div>
                                                <div class="title-content">
                                                    <div class="title-author" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="400">
                                                        <p>By Admin</p>
                                                    </div>
                                                    <div class="title-heading" data-aos="fade-up" data-aos-duration="1600" data-aos-delay="500">
                                                        <p>We will contribute to social development by providing the materials that are essential to the logistics business that supports the development of the Asian economy.
                                                        </p>
                                                    </div>
                                                    <a href="" class="title-more">Read more</a>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </section>
        <section class="sec-call pd-sec">
            <div class="call">
                <div class="call-flex">
                    <div class="call-col-left" data-aos="fade-right">
                        <div class="call-img">
                            <img src="./assets/images/call-img.jpg" alt="">
                        </div>
                    </div>
                    <div class="call-col-right">
                        <div class="call-padding">
                            <div class="call-title" data-aos="fade-left">
                                <p>Call us now</p>
                                <p>Or leave your information We will contact you.</p>
                            </div>
                            <form class="" action="">
                                <div class="form-call">
                                    <div class="form-control" data-aos="fade-left" data-aos-delay="300">
                                        <input class="form-input" placeholder="Please input your name" type="text">
                                    </div>
                                    <div class="form-control" data-aos="fade-left" data-aos-delay="400">
                                        <input class="form-input" placeholder="and your company name" type="text">
                                    </div>
                                    <div class="form-control" data-aos="fade-left" data-aos-delay="500">
                                        <input class="form-input" placeholder="Your phone" type="tel">
                                    </div>
                                    <div class="form-control" data-aos="fade-left" data-aos-delay="600">
                                        <input class="form-input" placeholder="Your email" type="email">
                                    </div>
                                    <textarea class="form-control text-area" data-aos="fade-left" data-aos-delay="600" placeholder="Your inquiry" rows="9" cols="50"></textarea>
                                    <div class="item" data-aos="fade-left" data-aos-delay="1000">
                                        <label>
                                            <input type="checkbox" value="test1" name="test" checked />
                                            <span class="checkbox"></span>
                                        </label>
                                        <p class="privacy">I agree to the terms of the <a href="">privacy policy</a>
                                        </p>
                                    </div>
                                </div>
                                <button class="btn-sub" type="submit">Submit</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
    </div>
    </div>
    <footer class="footer">
        <div class="footer-wrap">
            <div class="container">
                <div class="footer-flex">
                    <div class="footer-col-left">
                        <div class="footer-item">
                            <div class="footer-logo">
                                <img src="./assets/images/KOA-logo-ft.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="footer-col-center">
                        <div class="footer-address">
                            <p> <span>Office:</span> <br> D2 Road, Lot B7, Phu My 3 Specialized Industrial Park, Phuoc Hoa Ward, Phu My Town, Ba Ria-Vung Tau Province, Vietnam</p>
                            <p><span>Email:</span>contact@kraftofasia.com</p>
                            <p><span>Tel:</span>+84 254 389 1901</p>
                        </div>
                    </div>
                    <div class="footer-col-right">
                        <div class="footer-link">
                            <div class="link-item">
                                <a href="" class="button-show hb-button link">
                                    <i class="ti-angle-right arrow"></i><span class="link-text">About us</span>
                                </a>
                            </div>
                            <div class="link-item">
                                <a href="" class="button-show hb-button link">
                                    <i class="ti-angle-right arrow"></i><span class="link-text">Careers</span>
                                </a>
                            </div>
                            <div class="link-item">
                                <a href="" class="button-show hb-button link">
                                    <i class="ti-angle-right arrow"></i><span class="link-text">Our stories</span>
                                </a>
                            </div>
                            <div class="link-item">
                                <a href="" class="button-show hb-button link">
                                    <i class="ti-angle-right arrow"></i><span class="link-text">Contact</span>
                                </a>
                            </div>
                            <div class="link-item">
                                <a href="" class="button-show hb-button link">
                                    <i class="ti-angle-right arrow"></i><span class="link-text">Products</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-col"></div>
            </div>
        </div>
        <div class="footer-end">
            <div class="container">
                <div class="footer-end-wrap">
                    <p>Designed and developed by Mona Media</p>
                    <div class="footer-mxh">
                        <a href="" class="mxh-link face">
                            <img src="./assets/images/fb.svg" alt="">
                        </a>
                        <a href="" class="mxh-link tele">
                            <img src="./assets/images/mess.svg" alt="">
                        </a>
                        <a href="" class="mxh-link you">
                            <img src="./assets/images/viber.svg" alt="">
                        </a>
                        <a href="" class="mxh-link ins">
                            <img src="./assets/images/youtube.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="back-to-top backToTop active">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/slick/slick.min.js"></script>
    <script src="./js/library/wow/wow.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/vanilla/vanilla.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/countup/jquery.counterup.min.js"></script>
    <script src="./js/library/countup/jquery.waypoints.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/popper/popper.min.js"></script>
    <script src="./js/library/anime/anime.min.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>