// .slidedb {
//     overflow: hidden;
//     &-slider {
//         &-all {
//             position: relative;
//             width: 100%;
//             height: calc(100vw * (860/1920));
//             &.second {
//                 height: calc(100vw * (600/1728));
//                 @include max(768px) {
//                     height: 60vw;
//                 }
//                 @include max($mobile) {
//                     height: 90vw;
//                 }
//             }
//             @include max(768px) {
//                 height: 60vw;
//             }
//             @include max($mobile) {
//                 height: 90vw;
//             }
//         }
//         &-main {
//             width: 100%;
//             height: 100%;
//             .swiper {
//                 width: 100%;
//                 height: 100%;
//             }
//             .swiper-wrapper {
//                 width: 100%;
//                 height: 100%;
//             }
//         }
//         &-sub {
//             position: absolute;
//             bottom: 0;
//             right: 0;
//             width: 50%;
//             padding: 1vw;
//             @include max(768px) {
//                 width: 100%;
//             }
//             .swiper {
//                 margin-right: -16px;
//                 @include max($mobile) {
//                     margin-right: -8px;
//                 }
//             }
//             .swiper-wrapper {
//                 justify-content: flex-end;
//             }
//             .swiper-slide {
//                 width: fit-content !important;
//             }
//             .swiper-slide.swiper-slide-thumb-active .slidedb-img-sub {
//                 border: 1px solid $color-second;
//             }
//         }
//     }
//     &-img {
//         &-main {
//             width: 100%;
//             height: 100%;
//             img {
//                 width: 100%;
//                 height: 100%;
//                 object-fit: cover;
//             }
//         }
//         &-sub {
//             width: 70px;
//             height: 70px;
//             cursor: pointer;
//             border: 1px solid transparent;
//             transition: 0.3s ease-in-out;
//             @include max(600px) {
//                 width: 50px;
//                 height: 50px;
//             }
//             img {
//                 width: 100%;
//                 height: 100%;
//                 object-fit: cover;
//                 // 081099
//             }
//         }
//     }
// }
.hb {
    &-slider {
        position: relative;
        .button-control {
            @include max(450px) {
                display: none;
            }
        }
    }
    &-item {
        position: relative;
    }
    &-img {
        width: 100%;
        height: 100%;
        position: relative;
        &-item {
            padding-top: calc((960 / 1728) * 90%);
            position: relative;
            @include max(700px) {
                padding-top: 70%;
            }
            @include max(500px) {
                padding-top: 90%;
            }
            @include max(400px) {
                padding-top: 100%;
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &-posi {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 76%;
        padding: 1.55% 8.45%;
        z-index: 10;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        @include max(500px) {
            width: 90%;
        }
    }
    &-line {
        position: absolute;
        height: 100%;
        width: 2px;
        border: 1px solid $color-second;
        left: 80px;
        top: 0;
        @include max(1200px) {
            left: 20px;
        }
    }
    &-line-two {
        position: absolute;
        height: 100%;
        border: 1px solid rgba(255, 255, 255, 0.3);
        left: 80px;
        top: 0;
        z-index: 1;
        @include max(1200px) {
            left: 20px;
        }
    }
    &-line-three {
        position: absolute;
        width: 18%;
        border: 1px solid $color-second;
        right: 0;
        bottom: 40%;
        z-index: 1;
    }
    &-content {
        width: 100%;
    }
    &-heading {
        font-weight: 500;
        @include fz-72;
        letter-spacing: 0.02em;
        color: $color-white;
        line-height: 1.2;
    }
    &-des {
        font-weight: 300;
        @include fz-24;
        letter-spacing: 0.02em;
        color: $color-white;
        max-width: 540px;
        padding-top: 24px;
        padding-bottom: 54px;
        line-height: 1.2;
        @include max(1200px) {
            padding-top: unset;
            padding-bottom: 2%;
        }
    }
    &-button {
        display: flex;
        align-items: center;
        width: max-content;
        transition: 0.3s ease-in;
        @include max(1200px) {
            width: auto;
        }
        &:hover .arrow {
            background: $color-third;
        }
        &:hover span {
            color: $color-second;
        }
        .arrow {
            transition: 0.3s ease-in;
            padding: 16px;
            border: 1px solid #fff;
            border-radius: 100px;
            color: #fff;
            @include max(1200px) {
                padding: 6px;
            }
        }
        span {
            transition: 0.3s ease-in;
            display: block;
            padding-left: 16px;
            color: #fff;
        }
    }
    .swiper-ban {
        .swiper-pagination {
            bottom: 4%;
            &-bullet {
                opacity: 0.6;
                border-radius: unset;
                width: 70px;
                height: 4px;
                background: rgb(255, 255, 255);
                @include max(1200px) {
                    width: 40px;
                    height: 2px;
                }
            }
            &-bullet-active {
                opacity: 1;
                background-color: $color-second;
            }
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    left: unset;
    right: unset;
    top: unset;
    width: unset;
    height: unset;
    position: unset;
}

.swiper-button-prev::after {
    content: '';
}

.swiper-button-next::after {
    content: '';
}